
<style>
    body {
        background-color: #f8f9fa;
    }

    .order-completed-container {
        text-align: center;
        margin-top: 100px;
    }

    .success-message {
        font-size: 2em;
        color: #28a745; /* Bootstrap success color */
        margin-bottom: 20px;
    }

    .back-to-menu-btn {
        font-size: 1.5em;
        padding: 10px 20px;
        text-decoration: none;
        color: #fff;
        background-color: #007bff; /* Bootstrap primary color */
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .back-to-menu-btn:hover {
            background-color: #0056b3; /* Bootstrap primary dark color */
        }
</style>

<div class="container order-completed-container">
    <div class="success-message">
        <h2>Sipariş Tamamlandı!</h2>
    </div>
    <a class="btn back-to-menu-btn" asp-action="ResetTheOrders" asp-controller="Buy">Menüye Geri Dönmek İçin Tıklayınız</a>
</div>