
@{
    ViewData["Title"] = "Menu";
}

<h1>Menü Listesi</h1>
<br />
<hr />


<div class="row col-lg-6 offset-3">
    <button type="button" class="btn btn-outline-primary"  onclick="AllList()">All</button>

    <button type="button" class="btn btn-outline-primary"  onclick="GetListHamburger()">Hamburger </button>

    <button type="button" class="btn btn-outline-primary"  onclick="GetListPizza()">Pizza</button>

    <button type="button" class="btn btn-outline-primary"  onclick="GetListPasta()">Makarna</button>
    
</div>

<div id="all-list">

</div>

<div id="HamburgerList">

</div>

<div id="PizzaList">

</div>

<div id="PastaList">

</div>